//   
//  iPhoneDeviceBuild.xcconfig
//  GTMiOS
//  
//  Created by kazuya kawaguchi on 2011-02-16
//  Copyright 2011 kazuya kawaguchi All rights reserved.
//  

#include "./CommonBuild.xcconfig"

ARCHS = $(ARCHS_STANDARD_32_BIT)
SDKROOT = iphoneos
ONLY_ACTIVE_ARCH = NO
VALID_ARCHS = armv6 armv7

CODE_SIGN_IDENTITY = 
CODE_SIGN_RESOURCE_RULES_PATH = 
OTHER_CODE_SIGN_FLAGS = 

